@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Archivo+Black, sans-serif;
    font-weight: 400;
    color: black;
    background-color: slategray;
}

/* Logo and headings */
h1, h2{
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

#logo{
    float: left;
    font-size: 270%;
    margin-left: 20px;
}

/* navigation */
#menu{
    font-size: 120%;
    letter-spacing: 2px;
    float: right;
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    color: crimson;
    font-size: 30px;
    border-bottom: 1px solid #ff4545;
}

.active{
    border-bottom: 1px solid #ff4545;
}

/* hero image */


.hero-text, .hero-text h2{
    color: midnightblue;

}

#hero-image{
    height: 600px;
    width: 50%;
    background-image: url("../images/hero-3-min.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    clear: both;
    background-position: left;

    /* animation on loading */
    animation-name: zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* animation */
@keyframes zoom{
    from{
        transform: scale(0.7);

    }
    to{
        transform: scale(1);

    }
}

.hero-text{
    font-size: 70%;
    font-family: Roboto, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;

    padding-top: 0px;
    padding-left: 0px;

    background-color: rgb(0, 255, 0, 0.5);

    top: 12.95%;

    position: absolute;

}
